.feature-hero {
  background-color: var(--secondary-bg-color);
  margin: 20px 0;
  .text-wrap {
    padding: 120px 0;
    text-align: center;
    h1 {
      font-size: 48px;
      color: var(--font-color-primary);
      font-family: alice;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      color: var(--light-color);
      font-family: alice;
    }
  }
}
.features-keyf{
  padding: 40px 20px;
  h2{
    font-size: 32px;
    color: var(--font-color-primary);
    font-family: marko;
    margin-bottom: 8px;
  }
  p{
    font-size: 16px;
    color: var(--light-color);
    font-family: alice;
  }
  .fkf-boxwrap{
    margin: 50px 20px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .fkf-box{
      width: 250px;
      aspect-ratio: 1/1;
      rotate: 45deg;
      background: linear-gradient(0deg,
      #22222200 10%,
      #b4790c);
      display: grid;
      place-items: center;
      border-radius: 50px;
      p{
        rotate: -45deg;
        text-align: center;
      }
    }
  }
}
.features-tab {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  .container {
    /* border: 5px solid var(--info-color);
    border-top: 8px solid var(--font-color-primary);
    border-bottom: 8px solid var(--font-color-primary); */
    padding: 12px;
    /* border: 2px solid var(--info-color); */
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    background: var(--secondary-bg-color);
    border-radius: 13px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      translate: -50% -50%;
      left: 50%;
      top: 50%;
      padding: 6px;
      z-index: -1;
      border-radius: 19px;
      background: linear-gradient(
        135deg,
        var(--font-color-primary),
        /* var(--warning-color), */
        var(--font-color-aqua)
      );
    }
  }

  .tabs {
    display: flex;
    overflow-x: auto;
    background-color: var(--secondary-bg-color);
    padding: 10px;
    white-space: nowrap;
  }

  .tab {
    background-color: var(--tertiary-bg-color);
    color: var(--light-color);
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    flex-shrink: 0;
    &:hover {
      background-color: var(--success-color);
    }
  }

  .tab.active {
    background-color: var(--font-color-primary);
    color: var(--light-color);
  }

  .content {
    flex: 1;
    border-radius: 20px;
    margin-top: 20px;
    h2 {
      margin-bottom: 20px;
      font: 36px marko;
      color: var(--font-color-primary);
      text-align: center;
    }
    p{
      font: 20px alice;
      color: var(--light-color);
      text-align: center;
    }
  }

  .content ul {
    margin: 60px 40px;
    height: 180px;
    list-style-type: none;
    padding: 0;
  }

  .content ul li {
    margin: 15px 0;
    padding: 16px 20px;
    background-color: var(--tertiary-bg-color);
    color: var(--light-color);
  }
}








@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 900px) {
  .features-keyf {
    .fkf-boxwrap {
      gap: 20px;
      .fkf-box {
        width: 200px;
        p {
          rotate: -45deg;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .features-keyf {
    .fkf-boxwrap {
      gap: 35px;
      .fkf-box {
        width: 160px;
        p {
          rotate: -45deg;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .feature-hero {
    .text-wrap {
      h1 {
        font-size: clamp(1.3rem, 1.1241rem + 1.3793vw, 2rem);
      }
      p {
        font-size: clamp(0.8rem, 0.6241rem + 0.3793vw, 1rem);
      }
    }
  }
  .features-keyf {
    padding:20px 12px;
    .fkf-boxwrap {
      margin: 40px 12px;
      gap: 20px;
      .fkf-box {
        width: 120px;
        border-radius: 30px;
        p {
          font-size: 12px;
          rotate: -45deg;
        }
      }
    }
  }
  .features-tab {
  padding: 40px 20px;
  .container {
    width: 100%;
  }
  .content {
    h2 {
      font: 24px marko;
    }
    p{
      font: 16px alice;
    }
  }

  .content ul {
    margin: 60px 0px;
    height: 180px;
    list-style-type: none;
    padding: 0;
  }

  .content ul li {
    margin: 15px 0;
    padding: 16px 20px;
    background-color: var(--tertiary-bg-color);
    color: var(--light-color);
  }
}
}

@media screen and (max-width: 420px) {
}

@media (max-width: 768px) {
      .tabs {
        padding: 5px;
      }

      .tab {
        padding: 10px;
        margin: 2px;
      }
    }