:root {
  --primary-bg-color: #07050e;
  --secondary-bg-color: #131313;
  --tertiary-bg-color: #222222;
  --success-color: #28a745;
  --info-color: #05c8bc;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --font-color-aqua: #09f7e8;
  --font-color-primary: #ffa600d6;
}
/* @font-face {
  font-family: Lemon;
  src: url(./assets/fonts/Lemon/Lemon-Regular.ttf);
}
@font-face {
  font-family: alice;
  src: url(./assets/fonts/Alice/Alice-Regular.ttf);
}
@font-face {
  font-family: marko;
  src: url(./assets/fonts/Marko_One/MarkoOne-Regular.ttf);
} */

.blog-content {
  .blog-section {
    margin: 60px 0;
  }

  .blog-section h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--font-color-primary);
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card h3 {
    margin: 10px 0;
    color: #ffa500;
  }

  .card p {
    margin: 10px;
    color: var(--light-color);
  }

  .cta-button {
    display: inline-block;
    background-color: #ffa500;
    color: #1f1f1f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .cta-button:hover {
    background-color: #cc8400;
  }

  #category-buttons {
    text-align: center;
    margin-bottom: 20px;
  }

  #category-buttons button {
    width: auto;
    background-color: #ffa500;
    color: #1f1f1f;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #category-buttons button:hover {
    background-color: #cc8400;
  }

  #category-select {
    display: none;
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    background-color: #1f1f1f;
    color: #ffa500;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  #category-select option {
    background-color: #1f1f1f;
    color: #ffa500;
  }
}

@media (max-width: 600px) {
  .blog-content {
    #category-buttons {
      display: none;
    }

    #category-select {
      display: block;
    }
  }
}
@media (max-width: 630px) {
  .blog-content {
    .card {
      width: 200px;
      h3{
        font-size: 16px;
      }
      p{
        font-size: 14px;
        margin: 10px 4px;
      }
    }
  }
}
