.announcements-section {
  margin: 60px 0;
  text-align: center;

  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--font-color-primary);
  }

  .announcements-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  .announcement-card {
    background-color: #1f1f1f;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    max-width: 360px;
    text-align: center;
    border-left: 5px solid var(--danger-color);
    transition: transform 0.3s;
  }

  .announcement-card:hover {
    transform: scale(1.05);
  }

  .announcement-card h3 {
    margin: 10px 0;
    color: var(--font-color-aqua);
    font-family: marko;
  }

  .announcement-card p {
    margin: 10px;
    color: var(--light-color);
    font-size: 14px;
    font-family: alice;
  }
}

@media (max-width: 600px) {
  .announcements-container {
    flex-direction: column;
    align-items: center;

    .announcement-card {
      width: 90%;
    }
  }
}
