:root {
  --primary-bg-color: #07050e;
  --secondary-bg-color: #131313;
  --tertiary-bg-color: #222222;
  --success-color: #28a745;
  --info-color: #05c8bc;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --font-color-aqua: #09f7e8;
  --font-color-primary: #ffa600d6;
}
@font-face {
  font-family: Lemon;
  src: url(./assets/fonts/Lemon/Lemon-Regular.ttf);
}
@font-face {
  font-family: alice;
  src: url(./assets/fonts/Alice/Alice-Regular.ttf);
}
@font-face {
  font-family: marko;
  src: url(./assets/fonts/Marko_One/MarkoOne-Regular.ttf);
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: center;
}
main {
  max-width: 1200px;
  width: 100%;
}